In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv("C:\\Users\\raghu\\Downloads\\diabetes_prediction_dataset.csv")

In [3]:
from sklearn import tree

In [4]:
data

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [5]:

data["gender"]=data["gender"].apply(lambda x:1 if x=="Male" else 0)

In [6]:
data.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [7]:
data

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,never,25.19,6.6,140,0
1,0,54.0,0,0,No Info,27.32,6.6,80,0
2,1,28.0,0,0,never,27.32,5.7,158,0
3,0,36.0,0,0,current,23.45,5.0,155,0
4,1,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,No Info,27.32,6.2,90,0
99996,0,2.0,0,0,No Info,17.37,6.5,100,0
99997,1,66.0,0,0,former,27.83,5.7,155,0
99998,0,24.0,0,0,never,35.42,4.0,100,0
99999,0,57.0,0,0,current,22.43,6.6,90,0

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
smoking_history_n=LabelEncoder()

In [11]:
data["smoking_history_n"]=smoking_history_n.fit_transform(data["smoking_history"])

In [12]:
data

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,smoking_history_n
0,0,80.0,0,1,never,25.19,6.6,140,0,4
1,0,54.0,0,0,No Info,27.32,6.6,80,0,0
2,1,28.0,0,0,never,27.32,5.7,158,0,4
3,0,36.0,0,0,current,23.45,5.0,155,0,1
4,1,76.0,1,1,current,20.14,4.8,155,0,1
...,...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,No Info,27.32,6.2,90,0,0
99996,0,2.0,0,0,No Info,17.37,6.5,100,0,0
99997,1,66.0,0,0,former,27.83,5.7,155,0,3
99998,0,24.0,0,0,never,35.42,4.0,100,0,4
99999,0,57.0,0,0,current,22.43,6.6,90,0,1

In [14]:
data.drop("smoking_history",axis="columns",inplace=True)

In [15]:
data

,gender,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,smoking_history_n
0,0,80.0,0,1,25.19,6.6,140,0,4
1,0,54.0,0,0,27.32,6.6,80,0,0
2,1,28.0,0,0,27.32,5.7,158,0,4
3,0,36.0,0,0,23.45,5.0,155,0,1
4,1,76.0,1,1,20.14,4.8,155,0,1
...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,27.32,6.2,90,0,0
99996,0,2.0,0,0,17.37,6.5,100,0,0
99997,1,66.0,0,0,27.83,5.7,155,0,3
99998,0,24.0,0,0,35.42,4.0,100,0,4
99999,0,57.0,0,0,22.43,6.6,90,0,1

In [32]:

x_train,x_test,y_train,y_test=train_test_split(data.drop("diabetes",axis="columns"),data["diabetes"])

In [39]:
x_test

,gender,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,smoking_history_n
9202,0,80.0,1,0,27.32,6.0,159,0
59400,1,47.0,0,0,39.02,5.7,160,3
94197,0,71.0,0,0,27.40,6.2,85,4
53402,1,48.0,0,0,27.32,6.6,159,2
50373,0,66.0,0,0,27.32,6.2,140,0
...,...,...,...,...,...,...,...,...
33138,0,26.0,0,0,27.32,6.0,130,5
78684,0,25.0,0,0,25.60,4.5,100,4
59411,0,14.0,0,0,21.95,6.1,130,4
71184,0,75.0,0,0,27.32,7.5,260,5
7871,0,76.0,1,0,27.32,7.5,145,2

In [40]:
y_test

9202     0
59400    0
94197    0
53402    0
50373    0
        ..
33138    0
78684    0
59411    0
71184    1
7871     1
Name: diabetes, Length: 25000, dtype: int64

In [35]:
len(x_train)

75000

In [36]:
len(y_train)

75000

In [37]:
model1=tree.DecisionTreeClassifier()
model1.fit(x_train,y_train)

DecisionTreeClassifier()

In [41]:
model1.score(x_test,y_test)

0.95264

In [42]:
from sklearn.neighbors import KNeighborsClassifier
model2=KNeighborsClassifier()

In [43]:
model2.fit(x_train,y_train)

KNeighborsClassifier()

In [44]:
model2.score(x_test,y_test)

C:\Users\raghu\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.95324

In [49]:
from sklearn.svm import SVC

In [46]:
model3.fit(x_train,y_train)

SVC()

In [47]:
model3.score(x_test,y_test)

0.9488